# Virtual Environments
.venv/
venv/
env/

# ==== Local Build Artifacts ====
build/
dist/
*.egg-info/

# ==== Editor / OS Noise ====
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Private local projects
examples-python/gemini-stream-sse-connector/

# Do not update typescript examples
examples-typescript/
examples-java/
examples-golang/

